<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/add_restaurant" class="btn btn-default btn-sm">Add restaurant</a>
        <a href="/add_menu" class="btn btn-default btn-sm">Add menu</a>
        <a href="/add_item/select_menus" class="btn btn-default btn-sm">Add item</a>
        <a href="/edit_restaurant" class="btn btn-default btn-sm">Edit restaurant</a>
        <a href="/edit_menu/select_menus" class="btn btn-default btn-sm">Edit menu</a>
        <a href="/edit_item/select_menus" class="btn btn-default btn-sm">Edit item</a>
    </div>

    <div>
      <table class="table">
        124
        <tbody>
             <tr>
                  <td><%= data.username%></td>
                  <td><%= data.last_name%></td>
                  <td><%= data.first_name%></td>
             </tr>
       </tbody>
   </table>
    </div>
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>username</strong>: <%= data.username %><br>
                        <strong>Last Name</strong>: <%= data.last_name %><br>
                        <strong>First Name</strong>: <%= data.first_name %>
                    </p>
            </div>
        </div>
    </div>

</div>
</body>
</html>
